

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>

    <!--navbar-->
    <section>
        <div class="flex justify-around items-center h-auto bg-black text-white">
            <a href="{% url 'home' %}">
            <div class="text-4xl my-2">
                <div class="flex justify-around text-red-500">
                    <div>E</div>
                    <div>V</div>
                    <div>E</div>
                    <div>N</div>
                    <div>T</div>
                </div>
                <div >MANAGEMENT</div>
            </div>
            </a>
            <div class="md:flex text-white font-bold hidden gap-4">
                <a href="#">
                    Contact
                </a>
                <a href="#">
                    About Us
                </a>
                <a href="#">
                    Features
                </a>

            </div>
            <div class="md:flex justify-center gap-3 p-2 hidden">
                <a href="{% url 'sign_up' %}">
                    <button class="bg-red-500 hover:bg-white hover:text-red-500 hover:text-2xl hover:font-bold py-2 w-50 rounded ">
                        SIGN UP
                    </button>
                </a>
                <a href="{% url 'sign_in' %}">
                    <button class="bg-red-500 hover:bg-white hover:text-red-500 hover:text-2xl hover:font-bold py-2 w-50 rounded ">
                        SIGN IN
                    </button>
                </a>
            </div>
            <div class="md:hidden flex justify-center">
                <button id="menu-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </div>
        <div id="mobile-menu" class="md:hidden hidden my-4 mx-7">
            <a href="#" class="block py-2 text-gray-600 hover:text-gray-800 font-semibold"
              >Features</a
            >
            <a href="#" class="block py-2 text-gray-600 hover:text-gray-800 font-semibold"
              >About</a
            >
            <a href="#" class="block py-2 text-gray-600 hover:text-gray-800 font-semibold"
              >Contact</a
            >
            <a href="{% url 'sign_up' %}" class="block py-2 text-gray-600 hover:text-gray-800 font-semibold"
              >Sign Up</a
            >
            <a href="{% url 'sign_in' %}" class="block py-2 text-gray-600 hover:text-gray-800 font-semibold"
              >Sign In</a
            >
        </div>
    </section>

    <!--home page-->
    <section>
        {% block content %}
            {% include "home.html" %}
        {% endblock content %}
    </section>
</body>
</html>





<script>
    document
      .getElementById("menu-toggle")
      .addEventListener("click", function () {
        document.getElementById("mobile-menu").classList.toggle("hidden");
      });
</script>