<div class="h-full">
    <div>
        <div class="text-white text-5xl p-7 grid grid-cols-2 gap-3 ">
            <a href="#">
                <div class="border-2 rounded-2xl p-4 h-48 flex items-center justify-center">
                    Task
                </div>
            </a>
            <a href="#">
                <div class="border-2 rounded-2xl p-4 h-48 flex items-center justify-center">
                    Task
                </div>
            </a>
            <a href="#">
                <div class="border-2 rounded-2xl p-4 h-48 flex items-center justify-center">
                    Task
                </div>
            </a>
            <a href="#">
                <div class="border-2 rounded-2xl p-4 h-48 flex items-center justify-center">
                    Task
                </div>
            </a>
            <a href="#">
                <div class="border-2 rounded-2xl p-4 h-48 flex items-center justify-center">
                    Task
                </div>
            </a>
            <a href="#">
                <div class="border-2 rounded-2xl p-4 h-48 flex items-center justify-center">
                    Task
                </div>
            </a>
        </div>
    </div>
</div>
