{% extends "logged.html" %}
{% block content %}
<section>

    <section>
        <div class="grid md:grid-cols-3 text-3xl items-center p-4 bg-rose-950 text-red-600 gap-3">
            
            <div class="w-full">
                <a href="?show=participant">
                    <div class="flex gap-6 bg-amber-500 hover:bg-white justify-center py-2 px-5 w-full rounded-lg">
                        <div class="w-50">PARTICIPANT</div>
                        <div class="bg-white px-4 rounded-full">{{participant_counts.total}}</div>
                    </div>
                </a>
            </div>
    
            <div class="w-full">
                <a href="?show=event">
                    <div class="flex gap-6 bg-amber-500 hover:bg-white justify-center py-2 px-5 w-full rounded-lg">
                        <div class="w-50">EVENT</div>
                        <div class="bg-white px-4 rounded-full">{{event_counts.total}}</div>
                    </div>
                </a>
            </div>
    
            <div class="w-full">
                <a href="?show=category">
                    <div class="flex gap-6 bg-amber-500 hover:bg-white justify-center py-2 px-5 w-full rounded-lg">
                        <div class="w-50">CATEGORY</div>
                        <div class="bg-white px-4 rounded-full">{{category_counts.total}}</div>
                    </div>
                </a>
            </div>
            
        </div>
    </section>
    

    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.tags == 'success' %}bg-green-500 p-3 m-3 rounded-lg {% else %}bg-red-600 {% endif %}">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>
    
    <section name="category">
        {% if categorys %}
        <div class="border-4 border-amber-500  bg-black p-4 mx-auto">
            <h2 class="text-xl font-bold mb-3 text-black bg-amber-500 text-center rounded-2xl p-2">CATEGORY</h2>
            {% for category in categorys %}
                <div class="p-3 rounded-lg w-1/2 mx-auto h-auto">
                    <div class="bg-gray-200 hover:bg-white hover:text-black ">
                        <h2 class="text-lg font-semibold text-center bg-red-600">{{ category.name |upper}}</h2>
                        <p class="p-7">{{ category.description }}</p>
                    </div>
                    <div class="flex text-white overflow-hidden">
                        <form action="{% url 'delete_category' category.id %}" method="POST" class="w-1/2">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-600 w-full text-center hover:text-black p-2 rounded-bl-lg">
                                DELETE
                            </button>
                        </form>
                    
                        <a href="{% url 'update_category' category.id %}" class="w-1/2">
                            <div class="bg-green-600 w-full text-center hover:text-black p-2 rounded-br-lg">
                                EDIT
                            </div>
                        </a>
                    </div>
                    
                </div>
                <br>

            {% endfor %}
        </div>
        <div class="bg-black h-screen"></div>

        {% endif %}
    </section>



    <section name="view participant">
        {% if participants %}
            <div class="border-4 border-amber-500 rounded-lg  bg-white p-4 h-screen mx-auto">
                <h2 class="text-xl font-bold mb-3 text-black bg-amber-500 text-center rounded-2xl p-2">Participants</h2>

                {% for participant in participants %}
                    <div class="flex justify-between my-3 border-black border-2 p-3 items-center bg-gray-300 rounded-lg">
                        <div class="flex">
                            <li></li>
                            <div>{{ participant.name }}</div>
                        </div>
                        <div>{{ participant.email }}</div>
                        <div class="flex gap-3 items-center">
                            {% for event in participant.event.all %}
                                <div>{{ event.name }}</div>
                                {% empty %}
                                    <div>No event</div>
                            {% endfor %}


                            <div class="flex text-white gap-0.5">
                                <form action="{% url 'delete_participant' participant.id %}" method="POST" class="w-1/2">
                                    {% csrf_token %}
                                    <button class="bg-red-600 w-full text-center hover:text-black p-2">
                                        DELETE
                                    </button>
                                </form>
                                <a href="{% url 'update_participant' participant.id %}" class="w-1/2">
                                    <div class="bg-green-600 w-full text-center hover:text-black p-2">
                                        EDIT
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    <section name="view event">
        {% if events %}
        <div class="bg-black">
                <div>
                    <div class="grid md:grid-cols-2 xl:grid-cols-3">
                    {% for event in events %}
                            <div class="flex justify-around items-center my-3 mx-1">
                                    <div class="bg-blue-950 text-white rounded-lg">
                                        <img src="" alt="Image" class="w-80 h-48 rounded-lg">
                                        <div class=" text-center text-2xl p-1">
                                            <button>{{event.name|upper}}</button>
                                        </div>
                                        
                                        <div class="flex text-white rounded-2xl overflow-hidden">
                                            <form action="{% url 'delete_event' event.id %}" method="POST" class="w-1/2">
                                                {% csrf_token %}
                                                <button class="bg-red-600 w-full text-center hover:text-black p-2">
                                                    DELETE
                                                </button>
                                            </form>
                                            <a href="{% url 'update_event' event.id %}" class="w-1/2">
                                                <div class="bg-green-600 w-full text-center hover:text-black p-2">
                                                    EDIT
                                                </div>
                                            </a>
                                        </div>
                                        
                                    </div>
                            </div>
                    {% endfor %}
                    </div>
                </div>
        </div>
        <div class="bg-black h-screen">

        {% endif %}
    </section>


    </div>

        
</section>

{% endblock content %}